@import 'fonts';
@import 'global';

.wrapper{
    height: auto;
    background-size: cover;
    position: relative;
}

//header section start
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.6vw;
}
.header__logo{
    img{
        width: 19.5vw;
    }
   
}
.header__text{
    font-size: 0.8vw;
    width: 8.3vw;
    letter-spacing: 1px;
    line-height: 1.1vw;
}

.header__location{
    display: flex;
    align-items: center;
    img{
        width: 5.67vw;
    }
}
.header__location-info{
    font-size: 1vw;
    line-height: 1.1vw;
}
.header__location-title{
    font-weight: 700;
    margin-bottom: 0.2vw;
}
.map{
    left: 0;
    position: absolute;
    top: 24px;
    z-index: 10;
    display: none;
}
.header__location-link{
    padding-bottom: 4px;
    margin-top: 0.521vw;
    font-weight: 500;
    color: #ff6078;
    border-bottom: 1px dashed #ff6078;
    position: relative;
    &:hover{
        .map{
            display: block;
        }
    }
}
.header__contacts{
    
    &-text{
        font-size: 0.6vw;
        font-weight: 500;
        padding-left: 2.4vw;
        position: relative;
        margin-bottom: 5px;
        &::before{
            position: absolute;
            content: "";
            background-color: #27b24b;
            border-radius: 50%;
            width: 0.313vw;
            height: 0.313vw;
            left: 1.6vw;
            top: 0.2vw;
            box-shadow: 0px 0px 7px 0px rgba(79, 160, 55, 0.61);
              
        }
    }
    &-phone{
        font-size: 1.1vw;
        font-weight: 500;
        margin-bottom: 0.3vw;
        &::before{
            background-image: url(../images/phone.png);
        }
    }
    &-time{
        font-size: 0.8vw;
        margin-top: 0.8vw;
        &::before{
            background-image: url(../images/clock.png);
        }
        span{
            font-weight: 700;
        }
    }
    &-phone,
    &-time{
        padding-left: 1.8vw;
        position: relative;
        &::before{
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            content: "";
            left: -0.5vw;
            top: -0.4vw;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.9vw;
            height: 1.9vw;
            background-color: #fff;
            border-radius: 50%;
            background-size: 0.9vw;
            background-position: center center;
        }
    }
}
.header-btn{
    font-size: 0.8vw;
    line-height: 0.9vw;
    font-weight: 500;
    padding: 0.9vw 1.1vw 0.9vw 2.6vw;
    background-color: #fff;
    border-radius: 40px;
    font-weight: 500;
    position: relative;
    box-shadow: 0px 4px 2px #ebeaea;
    &::before{
        position: absolute;
        content: "";
        left: 1.1vw;
        width: 1vw;
        top: 0.9vw;
        background-image: url(../images/calendar.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-size: 1vw;
        height: 1vw;
    }
}
.menu{
    position: relative;
    &::before{
        position: absolute;
        content: "";
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        opacity: 0.502;
        max-width: 1524px;
        width: 100%;
        height: 61px;
        top: 7px;
        left: 20px;
    }

}

.menu-list{
    display: flex;
    justify-content: space-between;
    font-size: 0.79vw;
    margin-top: 14px;
    background-color: #fff;
    padding: 21px 33px 21px 35px;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    a{
        letter-spacing: 0.8px;
        &:hover{
            font-weight: 700;
            letter-spacing: 0;
        }
    }
}
.menu-list .active{
    font-weight: 700;   
    letter-spacing: 0;

}
.heart-img__big,
.heart-img__small{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
}
.heart-img__small{
    width: 6.6vw;
    height: 11vw;
    right: 0;
    top: 140px;
}
//header sevtion end
//main section start


.main{

    display: flex;
    &__inner{
        padding-top: 8.86vw;
        position: relative;
        width: 38vw;
        margin-bottom: 73px;
    }
    &__title{
        margin-bottom: 3.1vw;
        max-width: 37vw;
        width: 100%;
        font-size: 2.3vw;
        line-height: 2.9vw;
        span{
            font-weight: 700;
            display: block;
        }
    }
    &__list{
        font-size: 0.9vw;
        margin-bottom: 2.9vw;
        li{
            padding-left: 1.33vw;
            position: relative;
            display: flex; 
            align-items: center;
            justify-self: center;
            z-index: 2;
            & + li{
                margin-top: 22px;
            }
            &::before{
                position: absolute;
                left: 0.21vw;
                content: "";
                width: 0.42vw;
                height: 0.42vw;
                border-radius: 50%;
                background-color: #ef9499;
                z-index: 1;
            }
            &::after{
                position: absolute;
                content: "";
                width: 0.834vw;
                height: 0.834vw;
                border-radius: 50%;
                left: 0;
                z-index: -1;
                background-color: rgba(#fff, 0.5);
                box-shadow: 0px 1px 13px 2px rgba(239, 148, 153, 0.38);
            }
        } 
    }
    &-btn{
        background-color: #f7aeb0;
        font-size: 0.76vw;
        font-weight: 700;
        color: #fff;
        padding: 1.3vw 7.3vw 1.4vw 2.1vw;
        border-radius: 43px;
        text-align: center;
        position: relative;
        box-shadow: 0px 7px 0px -2px rgba(#d7747a, 0.7);
        letter-spacing: 2px;
        
        &::before{
            position: absolute;
            content: "";
            background-image: url(../images/branch.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            width: 13.4vw;
            height: 3.7vw;
            right: -7vw;
            top: 2px;
        }
        
    }
}
.img-card{
    position: absolute;
    width: 18.4vw;
    height: 13.7vw;
    bottom: 0;
    right: 0;
    img{
        display: inline-block;
        width: 44.5vw;
    }
   
   
}
.info-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 2.084vw;
    height: 2.084vw;
    border-radius: 50%;
    background-color: #f2989d;
    right: -1vw;
    bottom: 2vw;
    color: #fff;
    box-shadow: 2px 2px 2px #d46f76;
    cursor: pointer;
    z-index: 2;
    &::before{
        content: "\e900";
        font-family: 'icomoon';
        color: #fff;
        font-size: 1.198vw;
        z-index: 1;
    }
    &:hover{
        .card-info{
            display: block;
        }
    }
}
.card-info{
    background-color: #fff;
    padding: 20px 30px 28px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #282828;
    position: absolute;
    right: -151px;
    bottom: 27px;
    border-radius: 9px;
    box-shadow: 10px -14px 2px rgba(#fff, 0.6);
    box-shadow: 0px 2px 18px 0px rgba(187, 194, 206, 0.32);
    height: 200px;
    width: 175px;
    display: none;
    &::after{
        content: "";
        position: absolute;
        background-color: #fff;
        width: 175px;
        border-radius: 50%;
        height: 37px;
        top: -13px;
        right: 0;
       // box-shadow: 9px -13px 2px rgba(#fff, 0.5);
    }
}

  
.main-img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 46.1vw;
    height: 40.4vw;
    img{
        width: 46.1vw;
        height: 40.4vw;
    }
}

.arrow-down{
    background-image: url(../images/arrow-circle.png);
    height: 63px;
    width: 32px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    &::before{
        position: absolute;
        font-size: 20px;
        top: 6px;
    }
}
.wave{
    height: 8vh;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.heart-img__big{
    width: 18vw;
    height: 18vw;
}

//modal section start
#modal{
    width: 50vw;
    height: 670px;
    display: none;
    padding: 0;
    background-color: transparent;
    .fancybox-close-small {
        right: 132px !important;
        top: 35px !important;
    }
   
}
.modal{
    position: relative;
    &__inner{
        padding: 75px;
        border-radius: 40px;
        text-align: center;
        width: 38vw;
        height: 70vh;
       
        margin: 0 auto;
    }
    &__title{
        font-size: 1.9vw;
        margin-bottom: 1vw;
        span{
            font-weight: 700;
        }
    }
    &__text{
        font-size: 0.8vw;
        margin-bottom: 1.8vw;
    }
   
  
}

.modal-form{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
   label{
    width: 100%;
    position: relative;
    &::before{
        position: absolute;
        content: "";
        background-image: url(../images/modal-img.png);
        width: 263px;
        height: 386px;
        bottom: -18px;
        right: 211px;
    } 
   }
    input,
    select{
        outline: none;
        width: 100%;
        padding: 30px 50px 30px 45px;
        border: 1px solid rgb(251, 238, 239);
        border-radius: 40px;
    }   
    select{
        font-size: 18px;
        color: #989797;
    }
    input{
        display: block;
        margin-top: 16px;
        &::placeholder{
            color: #989797;
            font-size: 18px;
            font-weight: 300;
        }
    }
    a{
        margin-top: 15px;
        border: none;
        width: 100%;
        position: relative;
        text-align: left;
        font-size: 18px;
        letter-spacing: 3px;
        outline: none;
        padding-left: 70px;
        
        &::before{
            position: absolute;
            content:"";
            background-image: url(../images/plant.png);
            right: 0;
            bottom: 10px;
            width: 150px;
            height: 52px;
        }
        
    }
}
.fancybox-slide--html{
    padding: 0;
}


.fancybox-button svg {
    opacity: 0.6;
}
  
.successful-modal {
    display: none;
    max-width: 28vw;
    width: 100%;
    height: 36vh;
    border-radius: 4px;
    text-align: center;
    border-radius: 40px;
    padding: 77px 40px 80px;
    overflow: hidden;
    position: relative;
    &::before,
    &::after{
        position: absolute;
        content: "";
        right: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &::before{
        background-image: url(../images/leavs.png);
        width: 75px;
        height: 160px;
        bottom: 27px;
        z-index: 1;
    }
    &::after{
        background-image: url(../images/heart-small.png);
        height: 312px;
        z-index: 0;
        width: 200px;
        bottom: -191px;
        right: -58px;
    }
    .fancybox-close-small {
        right: 21px !important;
        top: 17px !important;
    }
}

.successful-icon{
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
    border: 4px solid #f5a5a8;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    &::before{
        position: absolute;
        content: "\e903";
        font-family: 'icomoon';
        color: #f39ca0;
        font-size: 1.5vw;
    }
}
.successful__title,
.successful__text{
    font-size: 1.6vw;
}
.successful__title{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
}
//modal section end
//menu-btn section start
.close-button {
    cursor: pointer;
}
  
.menu-wrapper {
    width: 25px;
    cursor: pointer;
    z-index: 4;
    display: none;
    position: absolute;
    top: 21px;
    right: 7rem;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
    width: 25px;
    height: 2px;
    z-index: 4;
}

.hamburger-menu {
    position: absolute;
    // top: 26px;
    // right: 7rem;
	transform: translateY(9px);
	background: #f2979c;
	transition: all 0ms 300ms;
  
  &.animate {
    background: rgba(255, 255, 255, 0); 
  }
}

.hamburger-menu:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 5px;
	background: #f2979c;
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	background:#f2979c;
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.hamburger-menu.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}
.menu-list.show{
    width: 164px;
    height: auto;
    display: block;
    font-size: 10px;
    position: absolute;
    right: 105px;
    top: 4px;
    padding: 15px 20px;
    li + li{
        margin-top: 7px;
    }
}
//menu-btn section end
@import 'media';